.pokedex {
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.pokemon {
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    
}
.Gastly {
    position: absolute;
    width: 20%;
    height: auto;
    left: 1%;
    top: -1%;
    
}
.nome {
    position: absolute;
    font-size: 30px;
    left: 22.2%;
    top: 13.2%;
    font-style: ;
}