
body {
    
    background-image: url(https://get.wallhere.com/photo/1920x1200-px-nature-pokemon-1004643.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
    width: 99vw;
    height: 98vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.base{
    transform: rotate(180deg); 
}
main{
    background-color: black;
    width: 1000px;
    height: 1000px;
}